{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="col fs-5">Zamówienia</div>

{%for purchase in purchases%}
<div class="col mt-3">
    <ul class='list-group'>
        <li class="list-group-item active">Zamówienie z dnia {{purchase.purchase_date}},{%if purchase.user.username%} użytkowik {{purchase.user.username}}{%else%} zamówienie na adres email {{purchase.email}}{%endif%}</li>
        {%for product in purchase.get_ordered_products%}
        <li class="list-group-item">{{product.amount}}x {{product.product.product_name}} = {{product.get_brutto_price}}</li>
        {%endfor%}
    </ul>
</div>
{%endfor%}

{%endblock%}