{%extends 'base.html'%}
{%load static%}



{%block content%}
<div class="fs-1 m-3">Rejestracja</div>
    <div class="col-5">
        <form method='POST' action='#' id="register_form">
            {% csrf_token %}
            <label class="form-label mt-4">Nazwa użytkownika:</label>
            <input type="text" class="form-control" name="username">
            <label class="form-label mt-4">Email:</label>
            <input type="text" class="form-control" name="email">
            <label class="form-label mt-2">Hasło:</label>
            <input type="password" class="form-control mt-2" name="passwd1">
            <label class="form-label mt-2">Powtórz hasło:</label>
            <input type="password" class="form-control" name="passwd2">
            
            <div class='col mt-2'>
                <input class="form-check-input" type="checkbox" name="is_admin" value="1">
                <label class="form-check-label">Administrator</label>
            </div>

            <div class="row">
                <div class="col mt-2" id="register_error"><ul>{{register_error|safe}}</ul></div>
            </div>
    
            <button class="mt-2 btn btn-primary" name="register_submit" value="1" onClick="validate()">Zarejestruj</button>
        </form>
    </div>


{%endblock%}